h2 {background-color: #607d8b;
color: white;font-size: 34px;}}
p {color:rgb(235, 234, 241);font-size: 16px;}
h1 {color: rgb(126, 9, 161);font-size: 58px;font-style:normal;width: 60%;}
main {font-size: 20px;color: rgb(230, 230, 243);}
footer {font-size: 19px;color:rgb(213, 227, 233);}
body {background-color:mediumspringgreen;}
form {color: rgb(255, 0, 0);font-size: 21px;} 
ul {color: rgb(238, 13, 13); font-size: 25px; font-style: initial;}
dfn {background-color: olive;}
